@import "../../app";
@import "../../theme";

%flex-side {
  flex: 2;
}

%flex-center {
  flex: 7;
}

.container {
  display: flex;
  height: 4rem;
  background-color: $color__background;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $dept__control;
}

.menu{
  @extend %flex-side;
  padding-left: 1rem;

  svg{
    fill: dimgrey;
    height: 1rem;
    width: 1rem;
  }

}

.circular{
  @extend %shadow__low;
  background-color: white;
  border-radius: 100%;
  border: 0px;
  height: 2rem;
  width: 2rem;
}

.center{
  @extend %shadow__low;
  @extend %flex-center;

  align-items: center;
  background-color: white;
  border-bottom-color: white;
  border-radius: 2rem;
  display: flex;
  height: 3rem;
  justify-content: flex-end;
  padding-right: 1rem;

  p{
    display: inline;
  }
}

.user{
  @extend %flex-side;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.signal{
  @extend .circular;

  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem;

  svg{
    fill: darkorange;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.banner{
  @extend %font__main;
  display: flex;
  flex-direction: column;
  font-size: x-small;


  .row{
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
  }

  .logo{
    @extend %font__logo;
    color: $color__primary;
    background-color: $color__secondary;
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: .2rem .5rem;
  }

  .bold{
    @extend %font__main--bold;
    font-size: .75rem;
    text-align: center;
    padding-right: .5rem;
    align-self: center;
  }
}

.avatar{
  @extend .circular;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

.green {
  border: .2rem seagreen solid;
}