@import "../../theme";

.container{
  align-items: center;
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 30rem;
  position: absolute;
  right: 0;
  top: 10rem;
  width: 16rem;
}