@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

%font__logo {
  font-family: 'Pacifico', cursive;
}

%font__main--bold{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

%font__main{
  font-family: 'Poppins', sans-serif;
}

$color__primary: white;
//$color__primary__variant: white;
$color__secondary: #fe808e;
//$color__secondary__variant: #fe808e;

$color__background: white;
//$color__surface: white;
//$color__error: red;
//$color__on--primary: white;
//$color__on--secondary: black;
//$color__on--background: black;
//$color__on--surface: black;
//$color__on-error: white;

$dept__controls: 10;
