//$font-primary
//@import "~normalize.css";
@import "theme";

body{
  background-color: $color__surface;
}

.controls{
  display: grid;
  grid-template-rows: 10vh 30vh;
  z-index: $dept__controls;
}

.main{
  z-index: 0;
  //position: fixed;
}