//$font-primary
//@import "~normalize.css";
@import "theme";

body{
  background-color: $color__surface;
}

.controls{
  display: grid;
  grid-template-rows: 10vh 30vh;
  z-index: $dept__controls;
}

.main{
  z-index: 0;
  //position: fixed;
}

.home{
  background-image: url("/assets/home__interface.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}